/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;    
    background-color: #f5f5f5;
}

h3 {
    font-weight: bold;
    color: rgb(255, 208, 0);
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    height: 130px;
    margin-bottom: 10px;
}

.body {
    max-width: 400px;
    width: 100%;
    text-align: center;
    margin: 30px;
    padding: 20px;
}
