<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="false">
    <mat-toolbar style="font-weight: bold; color: #377dfd; font-size: 20px;" class="m-2">Administrador</mat-toolbar>
    <mat-nav-list class="iconos">
      <a mat-list-item [routerLink]="['/dashboard/miperfil']"><i class="bi bi-person-lines-fill m-2"></i>Mi Perfil</a>
      <a mat-list-item [routerLink]="['/dashboard/header']"><i class="bi bi-card-list m-2"></i>Agregar carreras</a>
      <a mat-list-item [routerLink]="['/dashboard/questionAdmin']"><i class="bi bi-card-checklist m-2"></i>Agregar preguntas</a>
      <a mat-list-item [routerLink]="['/dashboard/userAdmin']"><i class="bi bi-person-lines-fill m-2"></i>Administrar usuarios</a>
      <a mat-list-item [routerLink]="['/dashboard/reportesAdmin']"><i class="bi bi-bar-chart-line-fill m-2"></i>Reportes</a>
      
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" style="background-color: #377dfd;" class="d-flex justify-content-between">
     
      
      <!-- <div style="width: 100%;"> -->
        <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
         </button>
          <span  class="d-flex" style="font-weight: bold; font-size: 20px;" >ADMINISTRAR</span>
          <button  class="btn btn-outline-light btn-sm"  (click)="logOut()"><i class="bi bi-box-arrow-in-left" style="font-weight: bold; font-size: 20px;"  ></i></button>
      <!-- </div> -->
     
     
    </mat-toolbar>

    <app-spinner class="d-flex  justify-content-center align-items-center" *ngIf="loading" ></app-spinner>

    <router-outlet></router-outlet>
 

  </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>
