<div class="container p-5">
    <h2 class="mb-4 text-primary" >Datos Personales</h2>
    <form class="d-flex justify-content-start align-content-center flex-wrap" >
    
        <div class="form-group m-2">
          <label for="primer_nombre">Primer Nombre:</label>
          <input type="text" class="form-control" id="primer_nombre" [(ngModel)]="primer_nombre"   name="primer_nombre" [readonly]="!editable" >
        </div>
      
        <div class="form-group m-2">
          <label for="segundo_nombre">Segundo Nombre:</label>
          <input type="text" class="form-control" id="segundo_nombre" [(ngModel)]="segundo_nombre" name="segundo_nombre" [readonly]="!editable">
        </div>
      
        <div class="form-group m-2">
          <label for="primer_apellido">Primer Apellido:</label>
          <input type="text" class="form-control" id="primer_apellido" [(ngModel)]="primer_apellido" name="primer_apellido" [readonly]="!editable">
        </div>
      
        <div class="form-group m-2">
          <label for="segundo_apellido">Segundo Apellido:</label>
          <input type="text" class="form-control" id="segundo_apellido" [(ngModel)]="segundo_apellido" name="segundo_apellido" [readonly]="!editable">
        </div>
      
        <div class="form-group m-2">
          <label for="email">Correo electrónico:</label>
          <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email" [readonly]="!editable">
        </div>
      
        <div class="form-group m-2">
            <label for="sexo">Tipo de identificacion:</label>
            <select [(ngModel)]="tipo_identificacion" class="form-control mt-3" name="tipo_identificacion" [disabled]="!editable">
                <option value="">---Seleccione---</option>
                <option value="Cédula">Cédula</option>
                <option value="Tarjeta de identidad">Tarjeta de identidad</option>
                <option value="Pasaporte">Pasaporte</option>
                <option value="Otro">Otro</option>
              </select>
       </div>
      
        <div class="form-group m-2">
          <label for="identificacion">Identificación:</label>
          <input type="number" class="form-control" id="identificacion" [(ngModel)]="identificacion" name="identificacion" [readonly]="!editable">
        </div>
      
        <div class="form-group m-2">
          <label for="sexo">Sexo:</label>
          <select class="form-control mt-3" id="sexo" [(ngModel)]="sexo" name="sexo" [disabled]="!editable" >
            <option value="Masculino">Masculino</option>
                    <option value="Femenino">Femenino</option>
                    <option value="No definido">No definido</option>
                    <option value="Otro">Otro</option>
         </select>
        </div>
       
    </form>
    <button type="button" class="btn btn-primary m-2" (click)="editable = true" *ngIf="!editable">
        Editar
      </button>
      
      <!-- Botón Actualizar -->
      <button type="button" class="btn btn-success m-2" *ngIf="editable"  (click)="updateUser()">
        Actualizar
      </button>
      <button type="button" class="btn btn-warning  m-2" (click)="openUpdateModal(contentUpdate)" >
        Cambiar Contraseña
      </button>
</div>

<ng-template #contentUpdate let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Actualizar Contraseña</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="firstname">Contraseña Actual:</label>
        <div class="input-group">
        <input type="password" id="contraseñaActual" class="form-control" name="contraseñaActual" [(ngModel)]="contrasenaActual">
      </div>     
      </div>
        <div class="form-group">
          <label for="firstname">Contraseña Nueva:</label>
          <div class="input-group">
          <input type="password" id="contraseñaActual" class="form-control" name="contraseñaNueva" [(ngModel)]="contrasenaNueva">
        </div>      
      </div>
     </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Cambiar</button>
  </div>
</ng-template>

